### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
logs
# Created by .ignore support plugin (hsz.mobi)


# Eclipse project files
.classpath
.project
bin
.settings
# Created by .ignore support plugin (hsz.mobi)
